@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-bg{
    width: 100%;
    height: 500px;
    background: url(../shop_0103/img/shoes.jpg) no-repeat bottom;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 1px;
}
.main-tittle{
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 25px;
}
.main-contenet{
    padding: 50px 0;
}
.main-button{
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 15px 40px;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s;   
}
.main-button:hover{
    background-color: aquamarine;
}
/* 설명박스 */
.explain-box{
    position: relative;
    top: -20px;
    width: 80%;
    /* max-width 최대넓이 */
    max-width: 500px;
    /* min-width 최소넓이 */
    min-width: 290px;
    margin: auto;
    padding: 20px;
    background-color: aquamarine;
    margin-bottom: 20px;
}
/* form box */
.form-bg{
    width: 100%;
    padding: 30px 0;
    background-color: #100250;   
}
.form-white{
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 30px;
}
form label{
    font-size: 15px;
    display: inline-block;

}
.w-100 , .w-50{
    /* background-color: aqua; */
    padding: 10px;
}
.w-50{
    width: 50%;
    float: left;
    /* background-color: yellowgreen; */
}
.form-input{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-top: 5px;
}
.send-bt{
    display: block;
    margin-left: auto;
    background-color: slateblue;
    padding: 10px 25px;
    color: #fff;
    border: none;
    transition: all 0.5s;
}
.send-bt:hover{
    background-color: rebeccapurple;
}